.jumbotron{
    background-image: url(../images/jumbotron_bg.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-bottom: 0px;
}
html, body {
    min-height:100%;
}
.container, footer {
    background-color: #212529;
}
.lead, .display-4, .jumbo-p {
    font-family: 'Montserrat', sans-serif;
}
.container, .container-fluid {
    min-height: 100%;
}
.bottom-cards, .project-cards {
    margin-top:30px;
}
p {
    font-size: 14px;
    line-height: 21px;
}
.container-fluid {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    color: white;
}
.contact-title {
    text-align: center;
}
.contact-page {
    padding:79px;
}
.contact-form {
    padding: 50px;
}
.project-cards {
    margin-bottom: 138px;
}
footer {
    height:50px;
}